<mat-toolbar class="bg-blue">
  <span class="gap" routerLink="/">Home</span>
  <span class="gap" routerLink="/about">About Us</span>
  <span class="gap" routerLink="/book/appt">Book an appointment</span>
  <span class="gap" routerLink="/treatment">Treatments</span>
  <span class="gap" routerLink="/contact">Contact Us</span>
</mat-toolbar>

<!-- <div class="align">
  <img src=" ../../assets/img/hosptIcon.png" class="doc-img" />
  <button class="tabs btn">Enquiry 7069001001</button>
  <button class="tabs btn">Emergency Number</button>
  <button class="tabs btn" routerLink="/book/appt">Book an appointment</button>
</div> -->
