.gap {
  margin-right: 70px;
  cursor: pointer;
}

.bg-blue {
  background-color: #003a70;
  color: #fff;
}

.doc-img {
  width: 106px;
  margin-right: 40px;
}

.align {
  display: flex;
  align-items: center;
}

.btn {
  width: 133px;
}
.tabs {
  background-color: #35b6b4;
  color: #fff;
  margin-right: 40px;
}
