<div class="header-inner">
  <mat-toolbar class="bg-blue">
    <div class="custom-container">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/book/appt">Book an appointment</a>
      <a routerLink="/treatment">Treatments</a>
      <a routerLink="/contact">Contact Us</a>
    </div>
  </mat-toolbar>

  <div class="custom-container">
    <div class="logo-btn-bar">
      <a href="#" class="logo-wrap">
        <img src=" ../../assets/img/logo_gurdev_hospital-1.jpg" class="doc-img" />
      </a>
      <div class="right-content">
        <a href="tel:+91-6239565525" title="+91-6239565525" class="custom-btn">Enquiry +91-6239565525</a>
        <button class="custom-btn" (click)="open(emergencyModal)">Emergency Number</button>
        <button class="custom-btn" routerLink="/book/appt">Book an appointment</button>
      </div>

    </div>
  </div>

</div>


<ng-template #emergencyModal let-modal class="modal-dialog-centered">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">EMERGENCY CONTACT NUMBERS
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="custom-table">
      <table>
        <tbody>
          <tr><td>Shalby Hospital , SG Highway , Ahmedabad</td>
          <td> +918778767876</td>
        </tr>
        <tr><td>Shalby Hospital , SG Highway , Ahmedabad</td>
          <td> +918778767876</td>
        </tr>
        <tr><td>Shalby Hospital , SG Highway , Ahmedabad</td>
          <td> +918778767876</td>
        </tr>
        <tr><td>Shalby Hospital , SG Highway , Ahmedabad</td>
          <td> +918778767876</td>
        </tr>
        <tr><td>Shalby Hospital , SG Highway , Ahmedabad</td>
          <td> +918778767876</td>
        </tr>
        <tr><td>Shalby Hospital , SG Highway , Ahmedabad</td>
          <td> +918778767876</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="custom-btn" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>