<mat-toolbar class="bg-blue">
    <span class="gap" routerLink="/">Home</span>
    <span class="gap" routerLink="/about">About Us</span>
    <span class="gap" routerLink="/treatment">Treatments</span>
    <span class="gap" routerLink="/contact">Contact Us</span>
    <span class="gap" routerLink="/latest-news">Latest News</span>
    <span class="gap" routerLink="/gallery">Gallery</span>
    <span class="gap" routerLink="/privacy">Privacy Policy</span>
    <span class="gap" routerLink="/t-c">Terms & Conditions</span>
  </mat-toolbar>
  
  