<img [src]="baseUrl+staticList.image" *ngIf="staticList.length>0 && staticList.image !=''" />
<h2 class="about">{{staticList.title}}</h2>
<p>{{staticList.content}}</p>

<form [formGroup]="bookApptForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(bookApptForm.value)"
  fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card-content>
    <mat-form-field appearance="outline" class="form-field">
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" id="dateOfBirth"
        readonly (click)="picker.open()" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br />
    <br />
    <select class="custom-select mb-3" (change)="changeTreatment($event)" formControlName="services">
      <option value="">Services</option>
      <option *ngFor="let item of treatment_name" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
    <!-- error block -->
    <div style="color: red" *ngIf="isSubmitted && services?.invalid">
      <sup>*</sup>Please choose the service
    </div>
  </mat-card-content>
  <br /><br />
  <mat-card-actions>
    <button mat-raised-button color="primary">Make an Appointment</button>
  </mat-card-actions>
</form>