<h2 class="about">About Shalby</h2>
<img src=" ../../assets/img/img1.jpg" />
<h2 class="about">Shalby Hospitals: Best Multispecialty Hospitals in India</h2>
<p>
  Shalby Hospitals is one of the largest chains of multispecialty hospitals and
  tertiary care centers in the country today. Envisioned by its founder, Dr.
  Vikram I Shah back in 1994 as a Joint Replacement Center, today Shalby
  Hospitals is a chain of 11 multispecialty hospitals, offering treatment in
  over 35+ medical disciplines, holding an aggregate capacity of over 2062 beds
  with more than 500 active physicians, and 3000+ employees. Known for
  exceptional patient care for 28 years, we have our presence in 5 states of the
  country and OPDs extended to a total of 11 states. Shalby Hospital is today
  known for setting high standards of excellence in Healthcare, Clinical Care,
  Home Care, and Research. We receive thousands of patients in our hospitals
  across all the units from all over the country. Medical excellence and patient
  care are firmly embedded in our culture.
</p>
