<div class="full-page">
  <div class="banner-section" style="background-image: url(../../assets/img/treatments-banner.jpeg);">
  </div>
</div>
<div class="custom-container">
  <div class="common-padding">
    <h2>Gurdev Hospital: Services We Provide</h2>
    <ul class="services-tiles">
      <!-- <li>
        <div class="inner-tile">
          Lorem Ipsum is simply dummy text
        </div>
      </li> -->
      <li *ngFor="let item of treatment_name">
        <div (click)="navigate(item)" class="inner-tile">
          {{ item.name }}
        </div>
      </li>
     
    </ul>
  </div>
</div>

