
<div class="full-page">
    <div class="banner-section" [style.background-image]='"url(\"" + treatment_details.banner_image + "\")"'>
        <!-- <img class="banner-section" [src]="baseUrl+treatment_details.banner_image" /> -->
    </div>
</div>
<div class="custom-container">
    <div class="common-padding text-center">
        <h2>{{ treatment_details.name }}</h2>
        <p class="content-wrap">
           {{ treatment_details.description }}
          
        </p>
        <button class="custom-btn" (click)="navigate()">Book an Appointment</button>
    </div>
</div>


