<div class="full-page">
  <div class="banner-section" style="background-image: url(../../assets/img/b2.jpeg);">
    <!-- <img [src]="baseUrl+staticList.image" /> -->
  </div>
</div>
<div class="custom-container">
  <div class="news-section common-padding">
    <div class="custom-container">
      <h2><span>Latest News </span></h2>
      <p class="content-wrap">
        <!-- <p>{{staticList.content}}</p> -->
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <div class="latest-news">
        <div  class="inner-wrap">
          <div class="img-wrap">
            <img src="../../assets/img/news.png" alt="">
          </div>
          <div class="text-wrap">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
            <p class="post-meta">
              <a class="post-time" href=""><span class="entry-date">July 5, 2022</span></a> by <a class=""
                href="">Gurdev Superspeciality Hospital</a>
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
            <a class="detail-link" href="javascript:void(0)" title="More Detail" (click)="navigate()">More Detail</a>
          </div>
        </div>

        <div class="inner-wrap">
          <div class="img-wrap">
            <img src="../../assets/img/news.png" alt="">
          </div>
          <div class="text-wrap">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
            <p class="post-meta">
              <a class="post-time" href=""><span class="entry-date">July 5, 2022</span></a> by <a class=""
                href="">Gurdev Superspeciality Hospital</a>
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
            <a class="detail-link" href="javascript:void(0)" title="More Detail" (click)="navigate()">More Detail</a>
          </div>
        </div>

        <div class="inner-wrap">
          <div class="img-wrap">
            <img src="../../assets/img/news.png" alt="">
          </div>
          <div class="text-wrap">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
            <p class="post-meta">
              <a class="post-time" href=""><span class="entry-date">July 5, 2022</span></a> by <a class=""
                href="">Gurdev Superspeciality Hospital</a>
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
            <a class="detail-link" href="javascript:void(0)" title="More Detail" (click)="navigate()">More Detail</a>
          </div>
        </div>


      </div>


    </div>
  </div>
</div>

<!-- <li *ngFor="let item of news_name">
  <div (click)="navigate(item)" class="trtment">{{ item.title }}</div>
</li> -->