.banner-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 520px;
    width: 100%;
  }
  
  p.content-wrap {
    line-height: 1.6;
  }

  /* news section starts */


  .latest-news {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    margin: 40px 0;
    flex-wrap: wrap;
  }
  
  .latest-news .inner-wrap {
    padding: 0 10px;
    width: 33.333%;
    margin-bottom: 20px;
  }
  
  .latest-news .inner-wrap .text-wrap {
    text-align: left;
    padding: 15px;
  }
  
  .latest-news .inner-wrap .text-wrap h2 {
    text-align: left;
    font-size: 18px;
    cursor: pointer;
  }
  .latest-news .inner-wrap .text-wrap h2:hover {
    color: #35b6b4 !important;
}
  
  .news-section {
    text-align: center;
  }
  
  .latest-news .detail-link {
    font-weight: 600;
    text-decoration: underline !important;
    display: inline-block;
  }
  
  p.post-meta a,
  p.post-meta {
    font-size: 14px;
  }
  .latest-news {
    margin-bottom: 0;
}
  
.latest-news .img-wrap {
  height: 270px;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: rgb(53 182 180 / 28%);
}

.latest-news .img-wrap img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.inner-box-wrap {
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  overflow: hidden;
}

.inner-box-wrap:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 25%);
}

  /* news section ends */


  /* responsive */
@media (max-width: 1198.98px) {
    .banner-section {
      height: 400px;
    }
    .latest-news .img-wrap {
      height: 200px;
    }
}
@media (max-width: 991.98px) {
    .banner-section {
      height: 340px;
    }
    .latest-news .img-wrap {
      height: 170px;
    }
  }
  
  @media (max-width: 767.98px) {
    .banner-section {
      height: 170px;
    }
    .latest-news .inner-wrap {
        width: 100%;
        margin-bottom: 25px;
        padding: 0;
      }
      .latest-news .img-wrap {
        height: 260px;
      }
  }

  .limeTextHeight{
    height: 60px;
    overflow: hidden;
  }