/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none !important;
    color: #003a70;
}

body {
    line-height: 1.3 !important;
    color: #7c7070 !important;
    font-size: 14px;
}

p {
    font-size: 16px;
}

a {
    color: #35b6b4 !important;
}

a:hover {
    color: #003a70 !important;
}

.custom-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .custom-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .custom-container {
        max-width: 1170px;
    }
}

img {
    max-width: 100%;
}

/* common style start */
.custom-btn {
    background-color: #003a70;
    color: #fff !important;
    border: 1px solid #003a70;
    border-radius: 8px;
    padding: 10px 15px;
    transition: .2s ease-out;
    min-width: 120px;
}

.custom-btn:hover {
    background-color: #35b6b4;
    border-color: #35b6b4;
    color: #fff !important;
}

.common-padding {
    padding: 60px 0;
}
body app-home .common-padding h2 {
    text-align: center;
}
.common-padding h2 {
    color: #003a70;
    font-size: 40px;
    font-weight: 600;
    /* position: relative; */
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    line-height: 1.3;
}
.common-padding .content-wrap {
    text-align: left;
}

.common-padding h2::after {
    position: absolute;
    content: "";
    background: #cfcfcf;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.common-padding h2 span {
    display: inline-block;
    /* padding-bottom: 5px; */
    /* border-bottom: 3px solid #003a70; */
    margin-bottom: 0;
}

/* our specilist style start */
.our-speciality .img-div {
    box-shadow: none !important;
}

.our-speciality .img-div img.image {
    position: unset !important;
    max-width: 100%;
}

.our-speciality .img-div .custom-image-main {
    margin: 0 auto;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #000;
    overflow: hidden;
}

.our-speciality .caption {
    position: unset !important;
    box-shadow: none !important;
    background-image: unset !important;
    color: #003a70 !important;
    font-weight: 500;
    padding: 0 !important;
    padding-top: 20px !important;
}

.ng-image-slider .ng-image-slider-container .main .prev {
    left: 0px !important;
}

.ng-image-slider .ng-image-slider-container .main .next {
    right: 0px !important;
}

h4.small-head {
    color: #35b6b4;
    font-size: 15px;
    font-weight: 600;
}

.left-img-wrap {
    padding-right: 20px;
}

.img-content p {
    margin-bottom: 20px;
}

.custom-btn i {
    margin-right: 5px;
}

.custom-btn:hover i {
    margin-right: 10px;
}

button.slick-arrow.slick-prev,
button.slick-arrow.slick-prev:hover,
button.slick-arrow.slick-prev:focus {
    background-image: url(assets/img/left-arrow.svg);
}

button.slick-arrow.slick-next,
button.slick-arrow.slick-next:hover,
button.slick-arrow.slick-next:focus {
    background-image: url(assets/img/right-arrow.svg);
}

button.slick-arrow,
button.slick-arrow:hover,
button.slick-arrow:focus {
    background-color: #003a70;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    opacity: 0.6;
}

button.slick-arrow::before {
    display: none;
}

button.slick-arrow:hover {
    opacity: 1 !important;
}

/* common dialog style start */
.modal-dialog {
    display: flex;
    align-items: center;
    height: 100%;
}

.modal-content button.close {
    border: 0;
    background: transparent;
    font-size: 26px;
    padding: 0;
    height: 20px;
    line-height: 20px;
    position: relative;
    top: -12px;
}

.modal-dialog .modal-content {
    border-radius: 12px;
}

.modal-header h4 {
    margin: 0;
    color: #003a70;
    font-weight: 600;
    font-size: 18px;
}

.modal-dialog .modal-header {
    padding-bottom: 10px;
}

.modal-dialog .modal-footer {
    justify-content: center;
    border: 0;
    padding-top: 0;
}

.custom-table {
    border: 1px solid #d7d3d3;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 2px rgb(213 213 213 / 48%);
}

.custom-table td {
    padding: 10px;
    border-bottom: 1px solid #d7d3d3;
}

.custom-table table {
    width: 100%;
}


/* dialog style ends */

/* form field design start */
.custom-form mat-form-field .mat-form-field-flex:focus,
.custom-form mat-form-field .mat-form-field-flex:hover {
    outline: 0 !important;
}

.custom-form mat-form-field .mat-form-field-flex:hover .mat-form-field-outline {
    opacity: 0.1 !important;
}

.custom-form .mat-form-field-appearance-outline .mat-form-field-infix {
    border-top: 0;
    padding: 16px 0 5px 0;
}

.custom-form .mat-form-field-appearance-outline .mat-form-field-outline {
    height: 40px;
}

.custom-form .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    margin-top: 10px;
}

.custom-form .comment .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    margin-top: 22px;
}

.full-field.comment .mat-form-field-wrapper {
    height: 100px;
}

.custom-form .comment .mat-form-field-appearance-outline .mat-form-field-outline {
    height: 100px;
}

/* form field ends */
.main-slider .carousel-control-next-icon, .main-slider .carousel-control-prev-icon {
    background-size: 16px !important;
}

.main-slider .carousel-indicators button {
    width: 10px !important;
    height: 1px !important;
}
.main-slider .carousel-indicators {
    margin-bottom: 0;
}
.common-padding .content-wrap {
    text-align: left;
}
.common-padding .content-wrap img {
    max-width: 50%;
}

.sdetail .our-team .slick-track {
    margin: 0;
}

/* responsive start */
@media (min-width: 1599.98px) {
    .banner-section {
        height: 640px !important;
    }
}
@media (min-width: 1899.98px) {
    .banner-section {
        height: 750px !important;
    }
}

@media (max-width: 1199.98px) {
    .slick-slider {
        padding: 0 30px;
    }

    .slick-slider .slick-prev {
        left: 0;
    }

    .slick-slider .slick-next {
        right: 0;
    }

    .common-padding h2 {
        font-size: 32px;
    }
    button.slick-arrow, button.slick-arrow:hover, button.slick-arrow:focus {
        background-size: 12px;
    }

}

@media (max-width: 991.98px) {
    .common-padding h2 {
        font-size: 26px;
    }

    .common-padding {
        padding: 30px 0;
    }

    .left-img-wrap {
        padding: 0;
    }

    h4.small-head {
        font-size: 13px;
        margin-bottom: 5px;
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {
    .common-padding h2 {
        font-size: 24px;
    }
    .col-4 {
        width: 100% !important;
    }
    .col-7, .col-5 {
        width: 100% !important;
        padding: 0 !important;
    }
    footer .col-4,
    footer .col-6 {
        margin-bottom: 20px;
    }

    .col-2 {
        width: 100% !important;
    }

    .col-6 {
        width: 100% !important;
    }
}