ngb-carousel .wrapper {
  position: relative;
  height: 520px;
}

/* slider style start */

.main-slider img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

ngb-carousel .wrapper::after {
  content: "";
  position: absolute;
  background: rgb(0 0 0 / 30%);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

/* blog section style start */
.blog-section mat-card {
  background: transparent;
  box-shadow: none !important;
  padding: 0;
}

.blog-section mat-card-content>p {
  width: 50%;
  display: flex;
  display: -ms-flexbox;
  margin-bottom: 30px;
  padding: 0 20px;
}

.blog-section mat-card-content {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.blog-section mat-card-content img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.blog-section mat-card-content span {
  display: inline-block;
}

/* blog ends */

/* our-facility start */
.our-facility {
  background: #003a70;
  color: white;
}

.our-facility h2 {
  color: white;
  margin-bottom: 40px;
}

.our-facility h2 span {
  border-color: white;
}

.card-row {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  flex-wrap: wrap;
}

.card-row .cards {
  width: 25%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.card-row .text-inner {
  text-align: center;
  /* background: #35b6b4; */
  width: 100%;
  height: 100%;
  padding: 40px 0;
  border-radius: 20PX;
  box-shadow: 0 0 4px rgb(0 0 0 / 50%);
}

.card-row .text-inner:hover {
  box-shadow: 0 0 4px rgb(0 0 0 / 80%);
  /* background: #6fcfcd; */
  opacity: 0.8;
}

.our-facility .text-inner h1 {
  font-size: 45px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
}

.our-facility .text-inner p {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

/* our faciity ends */
.hospital-tour .img-wrap img {
  width: 100%;
  height: 100%;
  transition: .2s ease-out;
  object-fit: cover;
}

.hospital-tour .img-wrap:hover img {
  transform: scale(1.5);
}

.hospital-tour .img-wrap {
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
}

.slick-slider {
  margin-top: 60px;
}

.our-speciality h3 {
  line-height: 1.3;
  font-size: 16px;
  font-weight: 500;
  color: #35b6b4;
  cursor: pointer;
  transition: .2s ease;
  text-align: right;
  margin: 15px 0 0 0;
  text-decoration: underline;
}

.our-speciality h3:hover {
  color: #003a70;
}

.our-speciality .img-wrap {
  text-align: center;
}

.our-speciality .img-wrap img {
  margin: 0 auto;
  margin-bottom: 9px;
}

.our-speciality .img-wrap h4 {
  margin: 0;
  font-size: 16px;
  line-height: 1.3;
}

.our-team .inner-wrap {
  padding: 0 10px;
}

.our-team .img-wrap img {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.our-team .text-wrap {
  padding-top: 20px;
  text-align: center;
}

.our-team .img-wrap {
  height: 250px;
  overflow: hidden;
  width: 100%;
}

.our-team .text-wrap h4 {
  color: #003a70;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.our-team .text-wrap p {
  font-size: 16px;
  margin-bottom: 5px;
}

.our-speciality.common-padding {
  background: #eaf3fc;
}

/* news section starts */

.latest-news {
  display: flex;
  display: -ms-flexbox;
  margin: 40px 0;
  flex-wrap: wrap;
}

.latest-news .inner-wrap {
  padding: 0 10px;
  width: 33.333%;
}

.latest-news .img-wrap {
  margin-bottom: 20px;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.latest-news .inner-wrap img {
  width: 100%;
}

.latest-news .inner-wrap .text-wrap {
  text-align: left;
}

.latest-news .inner-wrap .text-wrap h2 {
  text-align: left;
  font-size: 18px;
  cursor: pointer;
}

.latest-news .inner-wrap .text-wrap h2:hover {
  color: #35b6b4 !important;
}

.news-section {
  text-align: center;
}

.latest-news .detail-link {
  font-weight: 600;
  text-decoration: underline !important;
  display: inline-block;
}

p.post-meta a,
p.post-meta {
  font-size: 14px;
}

/* news section ends */

/* review sedtion strat */
.white-box {
  background: white;
  padding: 40px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 10px;
}

.review-section {
  background: #eaf3fc;
}

.white-box .img-wrap {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid;
  margin-bottom: 20px;
  vertical-align: middle;
}

.white-box .img-wrap img {
  width: 100%;
  object-fit: cover;
}

.white-box .text-wrap p {
  margin-bottom: 20px;
}

.white-box .text-wrap h4 {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

/* review section ends */

/* responsive start */
@media (max-width: 1199.98px) {
  ngb-carousel .wrapper {
    height: 450px;
  }

  .card-row .cards {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .slick-slider {
    margin-top: 40px;
  }

  ngb-carousel .wrapper {
    height: auto;
  }

  .our-speciality .img-wrap h4 {
    font-size: 14px;
  }

  .our-speciality h3 {
    font-size: 14px;
  }

  .our-team .text-wrap h4 {
    font-size: 16px;
    margin: 5px;
  }

  .our-team .text-wrap p {
    font-size: 14px;
    margin-bottom: 2px;
  }

  .our-facility .text-inner h1 {
    font-size: 30px;
  }

  .latest-news {
    margin-bottom: 0;
  }
  .card-row .cards {
    width: 33.333%;
  }
}

@media (max-width: 767.98px) {
  .img-content .row {
    flex-direction: column-reverse;
  }

  .img-content button.custom-btn {
    margin-bottom: 20px;
  }

  .slick-slider {
    margin-top: 20px;
  }

  .our-facility .text-inner p {
    font-size: 11px;
  }

  .latest-news .inner-wrap {
    width: 100%;
    margin-bottom: 25px;
    padding: 0;
  }
  .card-row .cards {
    width: 50%;
  }

}

.limeTextHeight{
  height: 20px;
  overflow: hidden;
}