<div class="main-slider">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[2]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[3]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[4]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[5]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[6]" alt="Random third slide" />
      </div>
    </ng-template>
  </ngb-carousel>
</div>

<div class="our-speciality common-padding">
  <div class="custom-container">
    <h2><span>Our Specialities </span></h2>
    <h3 align="right" (click)="navigate()">View All</h3>
    <!-- <div>
      <ng-image-slider
        #nav
        [images]="treatment_name"
        [infinite]="false"
        [autoSlide]="1"
        [imageSize]="{ width: '16%', height: 150 }"
        slideImage="6"
      ></ng-image-slider>
    </div> -->

    <div
      slickContainer
      #slickController="slick"
      [slickConfig]="configHospitalTour"
    >
      <ng-container *ngIf="slickController.initialize">
        <div class="img-wrap" slickItem *ngFor="let item of treatment_name">
          <img [src]="baseUrl + item.image" />
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="blog-section common-padding">
  <div class="custom-container">
    <mat-card class="example-card">
      <h2><span>Blogs/Tips of the day </span></h2>
      <mat-card-content>
        <p *ngFor="let item of reviews_details">
          <img [src]="baseUrl + item.image" />
          <span> {{ item.review }} </span>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="our-facility common-padding">
  <div class="custom-container">
    <h2><span> Facilities </span></h2>
    <!-- <ngb-carousel>
      <ng-template ngbSlide>
        <div class="text-wrapper">
          <h3>
            84 Critical car beds 80 Single patient Beds 300 Beds 20 Departments
          </h3>
          <p></p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="text-wrapper">
          <h3>2 Critical car beds 2 Single patient Beds 7 Beds 8 Departments</h3>
        </div>
      </ng-template>
    </ngb-carousel> -->

    <div slickContainer #slickController="slick" [slickConfig]="config">
      <ng-container *ngIf="slickController.initialize">
        <div slickItem>
          <div class="text-inner">
            <h1>80</h1>
            <p>Critical car beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>84</h1>
            <p>Single Patient beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>300</h1>
            <p>Beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>20</h1>
            <p>Departments</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>90</h1>
            <p>Critical car beds</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="hospital-tour common-padding">
  <div class="custom-container">
    <h2><span> Hospital Tour </span></h2>
    <div
      slickContainer
      #slickController="slick"
      [slickConfig]="configHospitalTour"
    >
      <ng-container *ngIf="slickController.initialize">
        <div class="img-wrap" slickItem *ngFor="let item of galleryList">
          <img [src]="baseUrl+item.image_path+item.image" />
        </div>
      </ng-container>
    </div>
  </div>
</div>
