<div class="main-slider">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[2]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[3]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[4]" alt="Random third slide" />
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[5]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[6]" alt="Random third slide" />
      </div>
    </ng-template> -->
  </ngb-carousel>
</div>


<!-- about section starts -->
<div class="img-content common-padding">
  <div class="custom-container">
    <div class="row">
      <div class="col-6">
        <div class="left-img-wrap">
          <img src="../../assets/img/h12.webp" alt="Gurdev Hospital" title="Gurdev Hospital" alt="">
        </div>
      </div>
      <div class="col-6">
        <h2 style="text-align: left;"><span>The Best Multspecialty Hospital in Nurpur Bedi, Ropar</span></h2>
        <h4 class="small-head">Personalised and affordable care near you</h4>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </p>
        <button class="custom-btn" title="Read More"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read
          More</button>
      </div>
    </div>

  </div>
</div>
<!-- end about section -->



<div class="our-speciality common-padding">
  <div class="custom-container">
    <h2><span>Our Specialities </span></h2>
    <!-- <div>
      <ng-image-slider
        #nav
        [images]="treatment_name"
        [infinite]="false"
        [autoSlide]="1"
        [imageSize]="{ width: '16%', height: 150 }"
        slideImage="6"
      ></ng-image-slider>
    </div> -->

    <div slickContainer #slickController="slick" [slickConfig]="configSpecialities">
      <ng-container *ngIf="slickController.initialize">
        <div class="img-wrap" slickItem *ngFor="let item of treatment_name">
          <img [src]="item.image" />
          <h4>{{item.name}}</h4>
        </div>
      </ng-container>
    </div>
    <h3 align="right" (click)="navigate()">View All</h3>
  </div>
</div>

<div class="our-team common-padding">
  <div class="custom-container">
    <h2><span> Our Team of Experts </span></h2>
    <div slickContainer #slickController="slick" [slickConfig]="configTeam">
      <ng-container *ngIf="slickController.initialize">
        <!-- <div class="img-wrap" slickItem *ngFor="let item of doctorList">
          <img [src]="baseUrl+item.image" />
          <h4> <strong>{{item.first_name+' '+ item.last_name}}</strong></h4>
          <strong>{{item.qualification}}</strong><br>
          <strong>{{item.profession}}</strong>
        </div> -->

        <div class="inner-wrap" slickItem>
          <div class="img-wrap">
            <img src="../../assets/img/team.png" />
          </div>
          <div class="text-wrap">
            <h4>Shiwansh Sharma</h4>
            <p>M.D., IDCCM (Critical care)</p>
            <p> Obstetrician & Gynecologist</p>
          </div>
        </div>

        <div class="inner-wrap" slickItem>
          <div class="img-wrap">
            <img src="../../assets/img/team.png" />
          </div>
          <div class="text-wrap">
            <h4>Shiwansh Sharma</h4>
            <p>M.D., IDCCM (Critical care)</p>
            <p> Obstetrician & Gynecologist</p>
          </div>
        </div>

        <div class="inner-wrap" slickItem>
          <div class="img-wrap">
            <img src="../../assets/img/team.png" />
          </div>
          <div class="text-wrap">
            <h4>Shiwansh Sharma</h4>
            <p>M.D., IDCCM (Critical care)</p>
            <p> Obstetrician & Gynecologist</p>
          </div>
        </div>

        <div class="inner-wrap" slickItem>
          <div class="img-wrap">
            <img src="../../assets/img/team.png" />
          </div>
          <div class="text-wrap">
            <h4>Shiwansh Sharma</h4>
            <p>M.D., IDCCM (Critical care)</p>
            <p> Obstetrician & Gynecologist</p>
          </div>
        </div>

        <div class="inner-wrap" slickItem>
          <div class="img-wrap">
            <img src="../../assets/img/team.png" />
          </div>
          <div class="text-wrap">
            <h4>Shiwansh Sharma</h4>
            <p>M.D., IDCCM (Critical care)</p>
            <p> Obstetrician & Gynecologist</p>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</div>


<div class="our-facility common-padding">
  <div class="custom-container">
    <h2><span> Facilities </span></h2>
    <div slickContainer #slickController="slick" [slickConfig]="config">
      <ng-container *ngIf="slickController.initialize">
        <div slickItem>
          <div class="text-inner">
            <h1>80</h1>
            <p>Critical car beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>84</h1>
            <p>Single Patient beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>300</h1>
            <p>Beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>20</h1>
            <p>Departments</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>90</h1>
            <p>Critical car beds</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>


<div class="hospital-tour common-padding">
  <div class="custom-container">
    <h2><span> Hospital Tour </span></h2>
    <div slickContainer #slickController="slick" [slickConfig]="configHospitalTour">
      <ng-container *ngIf="slickController.initialize">
        <div class="img-wrap" slickItem *ngFor="let item of galleryList">
          <img [src]="item.image" />
        </div>
      </ng-container>
    </div>
  </div>
</div>


<div class="review-section common-padding">
  <div class="custom-container">
    <h2><span> What Our Patients Say </span></h2>

    <div class="review-slider" slickContainer #slickController="slick" [slickConfig]="configReview">
      <div class="white-box" slickItem>
        <div class="img-wrap">
          <img src="../../assets/img/b12.jpg" alt="">
        </div>
        <div class="text-wrap">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text</p>
          <h4>Patient Name</h4>
          <span>Patient</span>
        </div>
      </div>
      <div class="white-box" slickItem>
        <div class="img-wrap">
          <img src="../../assets/img/appointment-bg.jpg" alt="">
        </div>
        <div class="text-wrap">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text</p>
          <h4>Patient Name</h4>
          <span>Patient</span>
        </div>
      </div>
      <div class="white-box" slickItem>
        <div class="img-wrap">
          <img src="../../assets/img/doctor-icon.webp" alt="">
        </div>
        <div class="text-wrap">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text</p>
          <h4>Patient Name</h4>
          <span>Patient</span>
        </div>
      </div>
      <div class="white-box" slickItem>
        <div class="img-wrap">
          <img src="../../assets/img/b12.jpg" alt="">
        </div>
        <div class="text-wrap">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text</p>
          <h4>Patient Name</h4>
          <span>Patient</span>
        </div>
      </div>
      <div class="white-box" slickItem>
        <div class="img-wrap">
          <img src="../../assets/img/b12.jpg" alt="">
        </div>
        <div class="text-wrap">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
          <h4>Patient Name</h4>
          <span>Patient</span>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="news-section common-padding">
  <div class="custom-container">
    <h2><span>Latest News </span></h2>

    <div class="latest-news">
      <div class="inner-wrap" *ngFor="let item of news_name">
        <div class="img-wrap">
          <!-- <img src="../../assets/img/news.png" alt=""> -->
          <img [src]="item.image" />
        </div>
        <div class="text-wrap">
          <h2 (click)="redirect(item)">{{item.title}}</h2>
          <p class="post-meta">
            <a class="post-time" href=""><span class="entry-date">{{item.date}}</span></a> by <a class="" href="">Gurdev
              Superspeciality Hospital</a>
          </p>
          <p>{{item.content}}</p>
          <a class="detail-link" href="javascript:void(0)" title="More Detail" (click)="redirect(item)">More Detail</a>
        </div>
      </div>
    </div>

    <button class="custom-btn" title="Read More"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read
      More News</button>
    <!-- <p *ngFor="let item of reviews_details">
          <img [src]="baseUrl + item.image" />
          <span> {{ item.review }} </span>
        </p> -->

  </div>
</div>