ngb-carousel .wrapper {
  position: relative;
  height: 500px;
}

/* slider style start */

.main-slider img {
    width: 100%;
}

/* blog section style start */
.blog-section {
  background-color: #eaf3fc;
  padding-bottom: 20px;
}

.blog-section mat-card {
  background: transparent;
  box-shadow: none !important;
  padding: 0;
}

.blog-section mat-card-content>p {
  width: 50%;
  display: flex;
  display: -ms-flexbox;
  margin-bottom: 30px;
  padding: 0 20px;
}

.blog-section mat-card-content {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.blog-section mat-card-content img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.blog-section mat-card-content span {
  display: inline-block;
}

/* blog ends */