<div class="main-slider">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[2]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[3]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[4]" alt="Random third slide" />
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[5]" alt="Random third slide" />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[6]" alt="Random third slide" />
      </div>
    </ng-template> -->
  </ngb-carousel>
</div>


<!-- about section starts -->
<div class="img-content common-padding">
  <div class="custom-container">
    <div class="row">
      <div class="col-6">
        <div class="left-img-wrap">
          <img src="../../assets/img/about-us.JPG" alt="Gurdev Hospital" title="Gurdev Hospital" alt="">
        </div>
      </div>
      <div class="col-6">
        <h2 style="text-align: left;"><span>The Best Multi-Specialty Hospital in District Rupnagar</span></h2>
        <h4 class="small-head">Personalised and affordable care near you</h4>
        <p>
          With the effective use of advanced technology and high-quality equipment, we aim at providing top-notch
          treatment facilities to all our patients. With the effective use of advanced technology and high-quality
          equipment, we aim at providing top-notch treatment facilities to all our patients. We have 11 beds in the
          Intensive Care Unit (ICU) along with an ICU on wheels to meet the emergency needs of the patients. Other
          facilities are sonography, CT scan, dialysis center, blood storage, 3 modular operation theatres, and
          round-the-clock pathological laboratory & pharmacy.
        </p>
        <button class="custom-btn" title="Read More" routerLink="/about"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read
          More</button>
      </div>
    </div>

  </div>
</div>
<!-- end about section -->



<div class="our-speciality common-padding">
  <div class="custom-container">
    <h2><span>Our Specialities </span></h2>
    <!-- <div>
      <ng-image-slider
        #nav
        [images]="treatment_name"
        [infinite]="false"
        [autoSlide]="1"
        [imageSize]="{ width: '16%', height: 150 }"
        slideImage="6"
      ></ng-image-slider>
    </div> -->

    <div slickContainer #slickController="slick" [slickConfig]="configSpecialities">
      <ng-container *ngIf="slickController.initialize">
        <div class="img-wrap" slickItem *ngFor="let item of treatment_name">
          <img [src]="item.image" />
          <h4>{{item.name}}</h4>
        </div>
      </ng-container>
    </div>
    <h3 align="right" (click)="navigate()">View All</h3>
  </div>
</div>

<div class="our-team common-padding">
  <div class="custom-container">
    <h2><span> Our Team of Experts </span></h2>
    <div slickContainer #slickController="slick" [slickConfig]="configTeam">
      <ng-container *ngIf="slickController.initialize">
        <div class="inner-wrap" slickItem *ngFor="let item of doctorList">
          <div class="img-wrap">
            <img [src]="item.image" />
          </div>
          <div class="text-wrap">
            <h4>{{item.first_name+' '+ item.last_name}}</h4>
            <p>{{item.qualification}}</p>
            <p>{{item.profession}}</p>
          </div>
        </div>

        <!---  <div class="inner-wrap" slickItem>
          <div class="img-wrap">
            <img src="../../assets/img/team.png" />
          </div>
          <div class="text-wrap">
            <h4>Shiwansh Sharma</h4>
            <p>M.D., IDCCM (Critical care)</p>
            <p> Obstetrician & Gynecologist</p>
          </div>
        </div> -->

      </ng-container>
    </div>
  </div>
</div>


<div class="our-facility common-padding">
  <div class="custom-container">
    <h2><span> Facilities </span></h2>
    <!-- <div slickContainer #slickController="slick" [slickConfig]="config">
      <ng-container *ngIf="slickController.initialize">
        <div slickItem>
          <div class="text-inner">
            <h1>80</h1>
            <p>Critical car beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>84</h1>
            <p>Single Patient beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>300</h1>
            <p>Beds</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>20</h1>
            <p>Departments</p>
          </div>
        </div>

        <div slickItem>
          <div class="text-inner">
            <h1>90</h1>
            <p>Critical car beds</p>
          </div>
        </div>
      </ng-container>
    </div> -->
    <div class="card-row">
        <div class="cards">
          <div class="text-inner">
            <h1>11</h1>
            <p>Critical Care Unit Beds</p>
          </div>
        </div>

        <div class="cards">
          <div class="text-inner">
            <h1>60+</h1>
            <p>Beds</p>
          </div>
        </div>

        <div class="cards">
          <div class="text-inner">
            <h1>20+</h1>
            <p>Departments </p>
          </div>
        </div>

        <div class="cards">
          <div class="text-inner">
            <h1>30+</h1>
            <p>Doctors </p>
          </div>
        </div>

        <div class="cards">
          <div class="text-inner">
            <h1>100+</h1>
            <p>Staff</p>
          </div>
        </div>

        <div class="cards">
          <div class="text-inner">
            <h1>24*7</h1>
            <p>Ambulance Service</p>
          </div>
        </div>

        <div class="cards">
          <div class="text-inner">
            <h1>24*7</h1>
            <p>Dialysis Center</p>
          </div>
        </div>

        <div class="cards">
          <div class="text-inner">
            <h1>2</h1>
            <p>Labs </p>
          </div>
        </div>

    </div>
  </div>
</div>


<div class="hospital-tour common-padding">
  <div class="custom-container">
    <h2><span> Hospital Tour </span></h2>
    <div slickContainer #slickController="slick" [slickConfig]="configHospitalTour">
      <ng-container *ngIf="slickController.initialize">
        <div class="img-wrap" slickItem *ngFor="let item of galleryList">
          <img [src]="item.image" />
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- <p *ngFor="let item of reviews_details">
          <img [src]="baseUrl + item.image" />
          <span> {{ item.review }} </span>
        </p> -->
<div class="review-section common-padding">
  <div class="custom-container">
    <h2><span> What Our Patients Say </span></h2>

    <div class="review-slider" slickContainer #slickController="slick" [slickConfig]="configReview">
      <div class="white-box" slickItem *ngFor="let item of reviews_details">
        <div class="img-wrap">
          <img [src]="item.image" />
        </div>
        <div class="text-wrap">
          <p> {{ item.review }}</p>
          <!-- <h4>Patient Name</h4>
          <span>Patient</span> -->
        </div>
      </div>
    </div>

  </div>
</div>



<div class="news-section common-padding">
  <div class="custom-container">
    <h2><span>Latest News </span></h2>

    <div class="latest-news">
      <div class="inner-wrap">
        <div class="img-wrap">
          <img [src]="news_name&&news_name[0].image" />
        </div>
        <div class="text-wrap">
          <h2 (click)="redirect(news_name&&news_name[0])">{{news_name&&news_name[0].title}}</h2>
          <p class="post-meta">
            <a class="post-time" href=""><span class="entry-date">{{news_name&&news_name[0].date}}</span></a> by <a class="" href="">Gurdev
              Superspeciality Hospital</a>
          </p>
          <p>{{news_name&&news_name[0].content}}</p>
          <a class="detail-link" href="javascript:void(0)" title="More Detail" (click)="redirect(news_name&&news_name[0])">More Detail</a>
        </div>
      </div>
      <div class="inner-wrap">
        <div class="img-wrap">
          <img [src]="news_name&&news_name[1].image" />
        </div>
        <div class="text-wrap">
          <h2 (click)="redirect(news_name&&news_name[1])">{{news_name&&news_name[1].title}}</h2>
          <p class="post-meta">
            <a class="post-time" href=""><span class="entry-date">{{news_name&&news_name[1].date}}</span></a> by <a class="" href="">Gurdev
              Superspeciality Hospital</a>
          </p>
          <p>{{news_name&&news_name[1].content}}</p>
          <a class="detail-link" href="javascript:void(0)" title="More Detail" (click)="redirect(news_name&&news_name[1])">More Detail</a>
        </div>
      </div>
      <div class="inner-wrap">
        <div class="img-wrap">
          <img [src]="news_name&&news_name[2].image" />
        </div>
        <div class="text-wrap">
          <h2 (click)="redirect(news_name&&news_name[2])">{{news_name&&news_name[2].title}}</h2>
          <p class="post-meta">
            <a class="post-time" href=""><span class="entry-date">{{news_name&&news_name[2].date}}</span></a> by <a class="" href="">Gurdev
              Superspeciality Hospital</a>
          </p>
          <p>{{news_name&&news_name[2].content}}</p>
          <a class="detail-link" href="javascript:void(0)" title="More Detail" (click)="redirect(news_name&&news_name[2])">More Detail</a>
        </div>
      </div>
    </div>

    <button class="custom-btn" title="Read More" (click)="move()"><i class="fa fa-arrow-right"
        aria-hidden="true"></i>Read
      More News</button>
</div>
  
</div>